.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 60px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  .cd-words-wrapper {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .blc {
    font-size: 36px !important;
  }
}

.blc {
  font-size: 60px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.timeline-entry {
  margin-top: -15px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.timeline-dot {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
}

.timeline-list {
  color: #270015;
  font-family: 'Rubik';
}

#contact-section {
  /*height: 100vh;*/
  background: #F9F9F9;
  padding-bottom: 50px;
}

