@font-face {
	font-family: 'City of Ember';
	src: url(../../assets/fonts/CityofEmber.woff2) format('woff2'),
	url(../../assets/fonts/CityofEmber.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}