textarea {
  text-align: center;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40%;
  border: 2px solid black;
  border-radius: 50%;
}

.profile-wrapper {
  /*padding-top: 0;*/
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.scroll-snap {
  scroll-snap-align: start;
}

.y-scroll-snap {
  scroll-snap-type: y mandatory;
  display: none;
}

.scroll-section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.scroll-area {
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.skills-container {
  margin-right: 10%;
  margin-left: 10%;
  width: 80vw;
  margin-bottom: 20px;
  /*display: none;*/
}

.resume-button {
  margin: 0 auto;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.center-button-wrapper {
  display: flex;
}

.skills-body {
}

#landing-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #F9F9F9;
}

#skills-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #57C4B8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(50, 50, 93, 0.25) 0px -30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px -18px 36px -18px inset;
}

#test {
  display: none;
}

.skills-progress {
  height: 10px;
}

.skills-heading {
  margin-top: 8px;
}

.skill-bar {
  height: 14px;
  background: #243B47;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skill-fill {
  height: 14px;
  background: #D44729;
  border-radius: 3px;
}

.timeline-header {
  display: flex;
}

.timeline {
  margin: 0 auto;
  max-width: 1000px;
  /*padding: 25px;*/
  display: grid;
  grid-template-columns: 3px 1fr;
  color: white;
}

.timeline-point {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  background: #AEAEAE;
  transform: translate(100%, -50%);
  border-radius: 50%;
}

..media-container {
  display: flex;
  align-items: center;
}

..media-container {
  display: flex;
}

@media (max-width: 768px) {
  .media-container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .media-container {
    justify-content: flex-end;
  }
}

.media-container {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

@media (min-width: 768px) {
  .timeline-horizontal-bar {
    width: 24px;
  }
}

@media (max-width: 768px) {
  .timeline-horizontal-bar {
    width: 35px;
    transform: translateX(-15px);
  }
}

.timeline-horizontal-bar {
  position: absolute;
  height: 2px;
  background: #AEAEAE;
}

.read-more-container {
  display: flex;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  /*transform: translateX(-5%);*/
}

@media (max-width: 768px) {
  .read-more-container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .read-more-container {
    justify-content: flex-start;
  }
}

.contact-button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: transparent;
  border: 2px solid black;
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
}

.media-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #270015;
  margin-left: 5px;
  margin-right: 5px;
}

.fab.fa-youtube {
  transform: translate(75%, 65%) scale(1.7);
}

.media-button.website:hover . {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background: transparent;
}

.media-button.apple:hover .fa-apple {
  color: #FFFFFF;
  /*text-shadow: 0 0 15px #CCCCCC;*/
  transition: all 0.5s ease;
}

.media-button.youtube:hover .fa-youtube {
  color: #B91119;
  /*text-shadow: 0 0 15px #B91119;*/
  transition: all 0.5s ease;
}

.media-button.google-play:hover .fa-google-play {
  color: #1D7C48;
  /*text-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
}

.media-button.website:hover .fa-globe {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.media-button.apple:hover {
  border: 2px solid black;
  /*box-shadow: 0 0 15px #CCCCCC;*/
  transition: all 0.5s ease;
  background: black;
}

.media-button.youtube:hover {
  border: 2px solid #B91119;
  /*box-shadow: 0 0 15px #B91119;*/
  transition: all 0.5s ease;
  background: white;
}

.custom-btn:hover {
  /*border: 2px solid #1D7C48;*/
  /*box-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
  background: #270015;
}

.media-button.google-play:hover {
  border: 2px solid #1D7C48;
  /*box-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
  background: white;
}

.media-button.website:hover {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background: transparent;
}

fa-globe {
  color: #3b5998;
}

media-icon {
  color: white;
}

.fab.fa-google-play.contact-icon {
  transform: translate(105%, 65%) scale(1.34);
}

.fab.fa-google-play.media-icon {
  transform: translate(105%, 65%) scale(1.34);
}

.contact-icon {
  color: #270015;
}

.media-icon {
  color: #270015;
}

.minimal-button {
  background: transparent;
  border: 2px solid #270015;
  border-radius: 50px;
  padding: 8px 20px 8px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #270015;
  text-decoration: none;
}

.read-more-button {
}

h3 {
  color: #270015;
  font-family: 'Rubik';
  font-weight: bold;
}

h6 {
  color: #270015;
  font-family: 'Rubik';
}

p {
  color: #270015;
  font-family: 'Rubik';
}

.minimal-button:hover {
  background: #270015;
  color: #F9F9F9;
  transition: 0.5s all ease;
}

.timeline-stop {
  /*width: 0px;*/
  /*background: #AEAEAE;*/
  position: relative;
}

.timeline-bar {
  width: 2px;
  background: #AEAEAE;
  position: relative;
}

h4 {
  color: #270015;
  font-family: 'Rubik';
}

h1 {
  color: #270015;
  font-family: 'Rubik';
  font-weight: 900;
}

@media (max-width: 768px) {
  .heading-container.h1 {
    font-size: 10px;
  }
}

.heading-container {
  /*margin-top: 10%;*/
  margin-left: -3px;
  margin-bottom: 30px;
}

.fab.fa-apple.media-icon {
  transform: translate(115%, 55%) scale(1.82);
}

.timeline-carousel {
  margin-bottom: 10px;
  /*box-shadow: 0 0 15px black;*/
}

.timeline-img {
  box-shadow: 0 0 15px black;
}

#personal-timeline-section {
  background: #F9F9F9;
  padding-top: 30px;
}

#personal-timeline-section {
  background: #F9F9F9;
  padding-top: 30px;
}

#professional-timeline-section {
  background: #F9F9F9;
  padding-top: 30px;
}

.scroll-area.remainder-area {
  scroll-snap-align: start;
  margin: 0 auto;
  overflow: hidden;
}

#end-scroll {
  scroll-snap-stop: normal;
  /*display: none;*/
}

@media (max-width: 768px) {
  .timeline {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .timeline-entry {
    margin-left: -3px;
  }
}

.timeline-offset {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .timeline-heading-offset {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .timeline-bar {
    width: 0px;
  }
}

@media (min-width: 768px) {
  .timeline-carousel-inner {
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .timeline-carousel-inner {
    border-radius: 10px;
  }
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

scroll-snap {
  scroll-snap-align: start;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  /*outline: black;*/
  height: 50%;
  width: 50%;
  /*background-size: 100% 100%;*/
  /*border-radius: 50%;*/
  /*border: 1px solid black;*/
  /*background-image: none;*/
}

.fab.fa-github.contact-icon {
  transform: translate(105%, 65%) scale(5);
}

.mail-custom-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.fa.fa-linkedin {
  transform: translateY(30px) scale(3);
}

.fa.fa-github {
  transform: translateY(30px) scale(3);
}

.fab.fa-itch-io {
  transform: translateY(30px) scale(3);
}

.material-icons {
  transform: translateY(30px) scale(2.3);
}

.contact-container {
  max-width: 1000px;
}

.custom-btn:hover .contact-icon {
  color: #f9f9f9;
  transition: all 0.5s ease;
}

.fab.fa-instagram.contact-icon {
  transform: translateY(30px) scale(3);
}

#scroll-main {
  max-height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  /*display: none;*/
}

#scroll-test-container-2 {
  max-height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: none;
}

#scroll-main-container {
  max-height: 100vh;
  /*scroll-snap-type: y mandatory;*/
  overflow-y: scroll;
  /*display: none;*/
}

.scroll-test-child {
  scroll-snap-align: start;
  background: red;
  max-height: 100vh;
}

#scroll-test-2 {
  background: black;
}

.hide {
  opacity: 0;
}

