textarea {
  text-align: center;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40%;
}

.profile-wrapper {
  /*padding-top: 0;*/
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.scroll-snap {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.y-scroll-snap {
  scroll-snap-type: y mandatory;
  display: none;
}

.scroll-section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.scroll-area {
  width: 100vw;
  scroll-snap-align: start;
}

.scroll-container {
  width: 100%;
  /*font-size: 60px;*/
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 auto;
}

.scroll-area:nth-of-type(1) {
  /*background: #49b293;*/
}

.scroll-area:nth-of-type(2) {
  background: #c94e4b;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.skills-container {
  margin-right: 10%;
  margin-left: 10%;
  width: 80vw;
}

.resume-button {
  margin: 0 auto;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.center-button-wrapper {
  display: flex;
}

.skills-body {
}

#landing-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#skills-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#test {
  display: none;
}

.skills-progress {
  height: 10px;
}

.skills-heading {
  margin-top: 8px;
}

.skill-bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-fill {
  height: 14px;
  background: #d13639;
}

.timeline-header {
  display: flex;
}

.timeline {
  margin: 0 auto;
  max-width: 900px;
  /*padding: 25px;*/
  display: grid;
  grid-template-columns: 3px 1fr;
  color: white;
}

.timeline-point {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  background: #AEAEAE;
  transform: translate(100%, -50%);
  border-radius: 50%;
}

..media-container {
  display: flex;
  align-items: center;
}

..media-container {
  display: flex;
}

@media (max-width: 768px) {
  .media-container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .media-container {
    justify-content: flex-end;
  }
}

.media-container {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.timeline-horizontal-bar {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #AEAEAE;
}

.read-more-container {
  display: flex;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  /*transform: translateX(-5%);*/
}

@media (min-width: 768px) {
  .read-more-container {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .read-more-container {
    justify-content: center;
  }
}

.media-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.fab.fa-youtube {
  transform: translate(70%, 60%) scale(1.7);
}

.media-button.website:hover . {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background: transparent;
}

.media-button.apple:hover .fa-apple {
  color: #FFFFFF;
  /*text-shadow: 0 0 15px #CCCCCC;*/
  transition: all 0.5s ease;
}

.media-button.youtube:hover .fa-youtube {
  color: #B91119;
  /*text-shadow: 0 0 15px #B91119;*/
  transition: all 0.5s ease;
}

.media-button.google-play:hover .fa-google-play {
  color: #1D7C48;
  /*text-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
}

.media-button.website:hover .fa-globe {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.media-button.apple:hover {
  border: 2px solid black;
  /*box-shadow: 0 0 15px #CCCCCC;*/
  transition: all 0.5s ease;
  background: black;
}

.media-button.youtube:hover {
  border: 2px solid #B91119;
  /*box-shadow: 0 0 15px #B91119;*/
  transition: all 0.5s ease;
  background: white;
}

.media-button.google-play:hover {
  border: 2px solid #1D7C48;
  /*box-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
  background: white;
}

.media-button.website:hover {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background: transparent;
}

fa-globe {
  color: #3b5998;
}

media-icon {
  color: white;
}

.fab.fa-google-play.media-icon {
  transform: translate(100%, 60%) scale(1.34);
}

.media-icon {
  color: black;
}

.minimal-button {
  background: transparent;
  border: 2px solid #270015;
  border-radius: 50px;
  padding: 8px 20px 8px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #270015;
  text-decoration: none;
}

.read-more-button {
}

h3 {
  color: #270015;
  font-family: 'Rubik';
  font-weight: bold;
}

h6 {
  color: #270015;
  font-family: 'Rubik';
}

p {
  color: #270015;
  font-family: 'Rubik';
}

.minimal-button:hover {
  background: #270015;
  color: #F9F9F9;
  transition: 0.5s all ease;
}

.timeline-stop {
  /*width: 0px;*/
  /*background: #AEAEAE;*/
  position: relative;
}

.timeline-bar {
  width: 2px;
  background: #AEAEAE;
  position: relative;
}

h4 {
  color: #270015;
  font-family: 'Rubik';
}

h1 {
  color: #270015;
  font-family: 'Rubik';
  font-weight: 900;
}

.heading-container {
  margin-left: 10%;
  margin-top: 10%;
  width: 1000px;
  margin-bottom: 30px;
}

#landing-section {
  height: 100vh;
}

.fab.fa-apple.media-icon {
  transform: translate(115%, 50%) scale(1.82);
}

.timeline-carousel {
  margin-bottom: 10px;
  /*box-shadow: 0 0 15px black;*/
}

.timeline-img {
  box-shadow: 0 0 15px black;
}

#personal-timeline-section {
  background: #F9F9F9;
  padding-top: 30px;
}

#personal-timeline-section {
  background: #F9F9F9;
  padding-top: 30px;
}

#professional-timeline-section {
  background: #F9F9F9;
  padding-top: 30px;
}

.scroll-area.remainder-area {
  scroll-snap-align: start;
  margin: 0 auto;
  overflow: hidden;
}

#end-scroll {
  /*scroll-snap-align: end;*/
}

