textarea {
  text-align: center;
}

section {
  height: 100vh;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-wrapper {
  padding-top: 10%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.scroll-snap {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.y-scroll-snap {
  scroll-snap-type: y mandatory;
  display: none;
}

.scroll-section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.scroll-area {
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  color: white;
  margin: 0 auto;
  scroll-snap-align: start;
  overflow: hidden;
}

.scroll-container {
  width: 100%;
  /*font-size: 60px;*/
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 auto;
}

.scroll-area:nth-of-type(1) {
  background: #49b293;
}

.scroll-area:nth-of-type(3) {
  background: #ababab;
}

.scroll-area:nth-of-type(2) {
  background: #c94e4b;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.skills-container {
  margin-right: 10%;
  margin-left: 10%;
  width: 80vw;
}

.resume-button {
  margin: 0 auto;
  align-items: center;
}

.center-button-wrapper {
  display: flex;
}

.resume-button:hover, .resume-button:active {
  color: #ffffff;
  background: #009688;
}

.resume-button {
  background: none;
}

.skills-body {
}

#skills-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#test {
  display: none;
}

.skills-progress {
  height: 10px;
}

.skills-heading {
  margin-top: 8px;
}

.skill-bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-fill {
  height: 14px;
  background: #d13639;
}

.timeline-header {
  display: flex;
}

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 3px 1fr;
  color: white;
}

.timeline-point {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  background: white;
  transform: translate(100%, -50%);
  border-radius: 50%;
}

..media-container {
  display: flex;
  align-items: center;
}

..media-container {
  display: flex;
}

@media (max-width: 768px) {
  .media-container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .media-container {
    justify-content: flex-end;
  }
}

.media-container {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  display: flex;
}

.timeline-horizontal-bar {
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
}

.read-more-container {
  display: flex;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .read-more-container {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .read-more-container {
    justify-content: center;
  }
}

.media-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  background: transparent;
  border: 3px solid white;
}

.fab.fa-youtube {
  transform: translateX(-10%);
}

.media-button.website:hover . {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background: transparent;
}

.media-button.apple:hover .fa-apple {
  color: #CCCCCC;
  /*text-shadow: 0 0 15px #CCCCCC;*/
  transition: all 0.5s ease;
}

.media-button.youtube:hover .fa-youtube {
  color: #B91119;
  /*text-shadow: 0 0 15px #B91119;*/
  transition: all 0.5s ease;
}

.media-button.google-play:hover .fa-google-play {
  color: #1D7C48;
  /*text-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
}

.media-button.website:hover .fa-globe {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.media-button.apple:hover {
  border: 3px solid #CCCCCC;
  /*box-shadow: 0 0 15px #CCCCCC;*/
  transition: all 0.5s ease;
  background: transparent;
}

.media-button.youtube:hover {
  border: 3px solid #B91119;
  /*box-shadow: 0 0 15px #B91119;*/
  transition: all 0.5s ease;
  background: transparent;
}

.media-button.google-play:hover {
  border: 3px solid #1D7C48;
  /*box-shadow: 0 0 15px #1D7C48;*/
  transition: all 0.5s ease;
  background: transparent;
}

.media-button.website:hover {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  background: transparent;
}

fa-globe {
  color: #3b5998;
}

media-icon {
  color: white;
}

.fab.fa-google-play.media-icon {
  transform: translate(-5%, -10%);
}

.media-icon {
  color: white;
}

